<div class="form__bbcode">
    <div class="bbcode" id="bold">
        B
    </div>
    <div class="bbcode" id="underline">
        U
    </div>
    <div class="bbcode" id="url">
        URL
    </div>
    <div class="bbcode" id="quote">
        QUOTE
    </div>
    <div class="bbcode" id="line">
        LINE
    </div>
    <div class="bbcode" id="img">
        IMG
    </div>
    <div class="bbcode" id="advice">
        ADVICE
    </div>
    <!-- <div class="bbcode" id="list">
        LIST
    </div> -->
    <div class="bbcode" id="inlinecode">
        INLINE CODE
    </div>
    <div class="bbcode" id="codeblock">
        C++ CODEBLOCK
    </div>
</div>