<html lang="vi">
    
<head>
    <link rel="icon" href='/img/iconcpp.png' type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/st.css" />
</head>
<body>
    <div class="container">

        <!-- header  -->

        <div class="header">
            <div class="header__container">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" height="100px" /></a>
                </div>
                <div class="header__slogan">
                    <div class="header__slogan__wraper">
                    <p style="color: #4183C4; font-size: 28px;margin-bottom: 15px;">CppHero.Space</p> 
                    <p> Skill up with our free tutorials</p>
                </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="header__menu__wraper">
                    <div class="header__menu__el">
                        <a href="/">HOME</a>
                    </div>
                    <div class="header__menu__el">
                        <a href="/about">ABOUT</a>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- end header  -->