<%- include('src/head'); -%>
<div class="main">
    
    <link rel="stylesheet" href="/style/st2.css" />

    <div class="cpanel">
        <div class="cpanel__head">ĐĂNG NHẬP ADMIN</div>
        <div class="cpanel__form">
            <form method="post" action="">
                <div class="form__e" style="width: 50%;">
                    <div class="form__label" >Tài khoản</div>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form__e" style="width: 50%;">
                    <div class="form__label">Mật khẩu</div>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form__e">
                    <div class="form__button">
                        <input type="submit" value="Đăng Nhập">
                    </div>
                </div>
              </form>
        </div>


    </div>

<!-- end div.main  -->
</div>
<%- include('src/foot'); -%>

   